@using StackExchange.Profiling;
<body class="application">
  <!--[if lt IE 8]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <!-- Your Markup -->
  @this.TimeScript("Scripts vendor.js",
    @<script src="~/Scripts/vendor.js"></script>);
  @this.TimeScript("Scripts app.js",
    @<script src="~/Scripts/app.js"></script>);
  <script>require('initialize');</script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <!--<script>
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function (d, t) {
          var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
          g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g, s)
      }(document, 'script'));
  </script>-->
  @MiniProfiler.RenderIncludes()
 </body>